h1 {
  text-decoration: underline;
}
#abortMission {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    transition: background-color 0.3s ease;
}

#abortMission:hover {
    background-color: red;
    color: white;
}
